:root {
	--base: #00aeff;
	--spacing: 10px;
	--blur: 10px;
}

img {
	padding: var(--spacing);
	background: var(--base);
	filter: blur(var(--blur));
}

.hl {
	color: var(--base);
}

body {
	text-align: center;
}

body {
	background: #193549;
	color: white;
	font-family: 'helvetica neue', sans-serif;
	font-weight: 100;
	font-size: 50px;
}

.controls {
	margin-bottom: 50px;
}

img {
	width: 550px;
	height: auto;
}

h2 {
	font-size: 48px;
	margin-bottom: 22px;
}

label {
	font-size: 28px;
}

input {
	width:100px;
}